body.lqa-page {
    .main-container {
        margin-top: 40px;
    }
    section {
        display: none;
    }
    section.editor {
        display: block;
    }
}

body.cattool .editor .text:hover {
    background: white;
}