body.lqa-page {
    section {
        display: none;
    }
    section.editor {
        display: block;
    }
    .projectbar {
        display: none;
    }
    article {
        padding: 0;
        margin-bottom: 0 !important;
        margin-top: 0 !important;

    }
}

body.cattool .editor .text:hover {
    background: white;
}

body.cattool.lqa-page {
    .gutter-vertical {
        position: relative;
        top: -20px;
    }
    #plugin-mount-point {
        margin-top: -20px;
        min-height: 80px;
    }
}