@import "paypal-preview";
@import "paypal-lqa";
body.cattool {
    overflow-y: hidden !important;
    padding: unset;
}

.main-container {
    width: 100%;
    height: 95%;
    margin-top: 29px;
    .gutter.gutter-vertical {
        background-image: url(../src/css/img/horizontal-resize.png);
        cursor: ns-resize;
        background-color: #ffffff;
        background-repeat: no-repeat;
        margin-top: -5px;
        border-bottom: 1px solid #e6e6e6;
        background-position: center center;
        width: 100%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    }
}

#outer, #plugin-mount-point {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#plugin-mount-point {
    height: 0;
}
//#review-side-panel {
//    height: 46px;
//    overflow-y: scroll;
//}


#outer {
    overflow-y: scroll;
    position: relative;
    margin-top: 0px !important;
    &.loading {
        bottom: 0 !important;
    }
    article {
        margin-left: 5% !important;
        margin-top: 47px !important;
    }
}

.toolbar {
    .segment-options-container {
        display: block;
        position: relative;
        margin-top: -6px;
        padding-top: 4px;
        color: #666;
        li {
            float: left;
            width: 16px;
            margin-right: 10px;
            cursor: pointer;
            height: 20px;
            zoom: 0.8;
            min-width: 20px;
            border-radius: 3px;
            padding: 2px;
            border: 1px solid #C6C6C6;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            background-color: #f8f8f8;
            background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
            background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
            background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
            background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
            i.icon.icon-picture {
                font-size: 20px;
            }
        }
    }
}

#outer.show-segment {
    display: inline-table !important;
    article {
        margin-bottom: 50px !important;
    }
}

.preview-core-container {
    z-index: 1;
    position: relative;
    height: 100%;
    .preview-image-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        display: block;
        overflow-y: auto;
        height: 100%;

    }
    .preview-drag-area {
        width: 100%;
        height: 6px;
        background: linear-gradient(#000000, #ffffff 50%, #000000 50%, #ffffff);
        cursor: ns-resize;
    }
}

body:not(.filterOpen) #outer {
    overflow-y: scroll;
    position: relative;
    margin-top: 19px !important;
    display: inline-block;
}

body.filterOpen #outer {
    margin-top: 80px !important;
}

footer .wrapper {
    .project-instructions a {
        margin-left: 15px;
    }
}

