@import "slick";
@import "slick-theme.scss";
@import "preview-slider";

body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.preview-container {
    min-width: 780px;
    .preview-image-innercontainer {
        min-width: 780px;
    }
}
.preview-container, .preview-core-container {
    /*position: relative;
    height: 100%;
    z-index: 2;*/
}

body.review-side-panel-opened {
    &.preview-container, .preview-core-container, .gutter.gutter-vertical {
    width: 75%;
    }
}

body.review-side-panel-opened {
    &.gutter.gutter-vertical {
        width: 75%;
    }
}

.preview-container, .preview-core-container {
    .preview-info-container {
        background: #4e4e4e;
        box-shadow: 1px 0px 1px 1px white;
        z-index: 2;
        border-bottom: 1px solid #000000;
        color: #ffffff;
        font-weight: 100;
        bottom: 0;
        position: fixed;
        width: 100%;
        .preview-info {
            line-height: 25px;
            font-size: 16px;
            display: inline-block;
            padding: 0 15px;
        }
    }
    .preview-image-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        display: block;
        height: 100%;
        background: #ffffff;

        *, *:before, *:after {
            box-sizing: content-box;
        }
        .preview-image-innercontainer {
            position: relative;
            margin: 0 auto;
            margin-top: 25px;
            .preview-image {
                position: relative;
                z-index: 0;
                max-width: 100%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                height: 100%;
            }
        }
        .preview-highlighter {
            position: absolute;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.3s ease;
            .issue-screenshot {
                position: absolute;
                font-size: 28px;
                right: -22px;
                color: red;
                top: -5px;
                background: white;
                width: 26px;
                height: 25px;
                border-radius: 50%;
                i {
                    margin-top: -2px;
                    margin-left: -3px;
                }
            }
            &.ice-match-preview {
                &:before {
                    font-family: FontAwesome;
                    content: "\f053";
                    position: absolute;
                    left: -30px;
                    top: -4px;
                    background: #43e443;
                    padding: 5px 7px;
                    color: white;
                }
            }
            &:hover {
                box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

            }
            &.dashed-screenshot {
                border: 4px solid #ffc902;
                background: rgba(249, 255, 165, 0.28);
            }
            &.approved-screenshot {
                border: 4px solid #7cc576;
                /*background: none;*/
            }
            &.active {
                background: rgba(113, 213, 255, 0.28);
                z-index: 1;
            }
        }
        .preview-widget {
            position: absolute;
            border: 4px solid #6E6E6E;
            background-color: grey;
            cursor: pointer;
            border-radius: 4px;
        }

        .preview-image-layer {
            pointer-events: none;
            border: 1px solid rgba(102, 102, 102, 0.38);
            position: absolute;
            top: -1px;
            left: -1px;
            -webkit-box-shadow: 0 1px 5px #666;
        }
    }
    .preview-actions-container {
        background: #ffffff;
        position: relative;
        width: 100%;
        z-index: 1;
        display: flex;
        color: #ffffff;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        height: 40px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
        .preview-pp {
            display: inline-block;
            button {
                font-size: 14px;
                text-align: center;
                margin: 0 3px;
                border-radius: 2px;
                border: 1px solid #a1a1a1;
                cursor: pointer;
                color: #a1a1a1;
                outline: none;
                padding: 4px;
                width: 32px;
                background: #FFFFFF;
                i {
                    position: relative;
                    top: 2px;
                    margin: 0;
                    width: unset;
                }
                &:hover {
                    /*box-shadow: 0 1px 2px #ccc;*/
                    border: 1px solid #cccccc;
                    i {
                        color: #cccccc;
                    }
                }
            }
            &.actions-image {
                flex: 1 0;
                text-align: left;
                min-width: 300px;
                padding-left: 10px;
                .info-icon-picture {
                    display: inline-block;
                    margin: 0 5px;
                    i {
                        top: 1px;
                        &:before {
                            content: "\e95d";
                            font-size: 23px;
                            line-height: 0;
                            position: relative;
                            top: 5px;
                        }
                    }
                    &:hover {

                    }
                }
            }
            &.actions-segment {
                text-align: left;
                min-width: 330px;
                .preview-button, .n-segments-available, .text-n-segments-available {
                    display: inline-block;
                    border: none;
                }
                .n-segments-available, .text-n-segments-available {
                    color: #000;
                }
            }

           &.change-window {
               text-align: right;
               flex: 1 0px;
               padding-right: 10px;
               button {
                   background: transparent;
                   border: none;
                   color: #A1A1A1;
                   i {
                       font-size: 15px;
                       line-height: 0;
                   }
                   &:hover {
                       box-shadow: none;
                       i {
                           color: #e2e2e2;
                       }
                   }
               }
               .approve-all-segments {
                   /* margin-right: 0; */
                   height: 29px;
                   line-height: 18px;
                   background: transparent;
                   font-weight: 100;
                   padding: 6px 10px;
                   border-radius: 2px;
                   border: 1px solid #7cc576;
                   color: #7cc576;
                   transition: 0.3s ease;
                   width: auto;
                   vertical-align: bottom;

                   i {
                       font-size: 21px;
                       vertical-align: bottom;
                       position: relative;
                       top: 8px;
                   }
                   &:hover {
                       box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
                       i {
                           color: #7cc576;
                       }
                   }
                   &:active {
                       box-shadow: none !important;
                       background-color: #f2f2f2 !important;
                   }
               }
               .show-hide-segment-lqa {
                   width: 29px;
                   height: 29px;
                   text-align: center;
                   transform: rotate(270deg);
                   margin-left: 10px;
                   i {
                       position: relative;
                       left: 1px;
                       top: 3px;
                   }
               }
            }
        }
        .preview-index-label {
            color: #000;
            display: inline-block;
            margin-left: 15px;
        }
    }
    .no-preview {
        position: relative;
        width: 100%;
        height: 100%;
        bottom: 0;
        .no-preview-img {
            position: absolute;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            bottom: 50%;
            font-size: 40px;
            .message-no-preview {

            }
        }
    }
}
