body.lqa-page {
    .main-container {
        margin-top: 24px;
    }
    section {
        display: none;
    }
    section.editor {
        display: block;
        position: fixed;
        height: 10%;
        width: 87%;
    }
}

body.cattool .editor .text:hover {
    background: white;
}