.project-type {
  display: inline-block;
  width: 30px;
  height: 30px;
  top: -2px;
  position: relative;
  text-align: center;
  line-height: 30px;
  background: #fff;
  font-weight: 700;
  &.tr-type{
    color: #09beec;
  }
  &.lr-type {
    color: #14cc82;
  }
  &.lqa-type {
    color: #8e09ec;
  }
}