
.preview-slider-container {
    width: 100%;
    background: #e4e6e8;
    height: 205px;
    display: inline-block;
    padding: 10px 0;
    .slick-slider {
        width: 90%;
        margin: 0 auto;
        height: 180px;
        //background-color: #cccdc9;
        .slick-slide {
            transition: 0.3s ease;
            cursor: pointer;
            //border: 1px solid #cccdc9;
            img {
                max-width: 100%;
                vertical-align: middle;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
            }
            p {
                color: #000;
                line-height: 31px;
            }
            &:hover {
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
            }
            &.slick-current {
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
                p {
                    background: royalblue;
                    color: #ffffff;
                }
            }
        }
    }
}



